# Python
*.py[cod]
__pycache__/
*.pyo
*.pyd

# Virtual environment
venv/
env/
*.env


# TailwindCSS and Node modules
tailwind.config.js
postcss.config.js

# Ignore local settings or secrets
*.log
local_settings.py
.env

# MacOS specific
.DS_Store

